.activitiesmainimg {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 100%;
  height: 450px;
}
/* TABS  */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 18px 20px;
  width: 100%;
  background-color: #a0e9fd9c;
}

.mytabs input[type="radio"] {
  display: none;
}
/* BUTTON TABS */
.mytabs label {
  cursor: pointer;
  padding: 15px 50px;
  font-weight: 600;
  background-color: #2b3985;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  margin-right: 12px;
  box-shadow: 0 0 5px #4e4c4c;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.mytabs label:hover,
.mytabs label:focus,
.mytabs label:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.04);
}
.mytabs input[type="radio"]:checked + label {
  background: white;
  color: #2b3985;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0;
  transform: scale(1);
}

/* MAIN TAB CONTENT */
.mytabs .tab {
  width: 100%;
  padding: 60px 10px;
  background-color: white;
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  padding-left: 25px;
  font-size: 1.6em;
  padding-bottom: 9px;
  padding-top: 15px;
}
.activeTab {
  display: block !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* BOXES CONTENT  */
.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
}
.box {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 5px #4e4c4c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  cursor: pointer;
  margin: 10px 10px;
}
.box:hover,
.box:focus {
  box-shadow: 0 0 5px rgb(29, 29, 29);
  transform: scale(1.02);
}
.box:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.box .img {
  width: 100%;
  height: 35vh;
  border-radius: 5px 5px 0px 0px;
}
.box p {
  padding: 0 10px;
  font-size: 18px;
  font-family: "Heebo", sans-serif;
}
/* MODAL  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.562);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
