.activitiesmainimg {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 100%;
  height: 450px;
}
/* TABS  */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 18px 20px;
  width: 100%;
  background-color: rgb(85, 173, 250);
}

.mytabs input[type="radio"] {
  display: none;
}
/* BUTTON TABS */
.mytabs label {
  cursor: pointer;
  padding: 15px 50px;
  font-weight: 600;
  background-color: #e5dada;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  margin-right: 12px;
  box-shadow: 0 0 5px #4e4c4c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.mytabs label:hover,
.mytabs label:focus,
.mytabs label:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.mytabs input[type="radio"]:checked + label {
  background: white;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* MAIN TAB CONTENT */
.mytabs .tab {
  width: 100%;
  padding: 60px 10px;
  background-color: white;
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  padding-left: 25px;
  font-size: 1.6em;
  padding-bottom: 9px;
  padding-top: 15px;
}
.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ADVENTURES CONTENT  */
.advcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 0 25px;
}
.advinfo {
  border-radius: 5px 5px 5px 5px;
  display: block;
  background-color: rgb(127, 243, 237);
  box-shadow: 0 0 5px #4e4c4c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  cursor: pointer;
  margin: 24px 0;
}
.advinfo:hover,
.advinfo:focus,
.advinfo:active {
  box-shadow: 0 0 5px rgb(29, 29, 29);
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}

.advinfo .img {
  width: 100%;
  height: 35vh;
  border-radius: 5px 5px 0px 0px;
}




