body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #a0e9fd9c;
}
.contactform {
  display: grid;
  align-content: center;
  height: 100vh;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
}
/* LEFT SIDE  */
.left {
  line-height: 3rem;
  justify-content: center;
  display: flex;
  font-size: x-large;
}
.leftinfo h2 {
  font-weight: lighter;
}
.leftinfo span {
  font-weight: 600;
}
/* RIGHT SIDE */
.item-group {
  display: flex;
  margin: 20px 0px;
  max-width: 70%;
}
.right p {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
}
.item-input :after {
  content: "*";
  color: red;
  font-size: 20px;
}

.item-group .item-input {
  flex-basis: 100%;
  background-color: white;
  /* border-bottom: 1px solid black; */
  font-size: large;
  color: rgb(53, 53, 53);
  border-radius: 5px;
  padding-left: 5px;
}

.item-group .lname , .phone {
  margin-left: 20px;
}

.item {
  width: 100%;
}
.certify {
  display: flex;
  flex-wrap: wrap;
}
input {
  outline: none;
  width: 100%;
  border-style: none;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 5px;
  font-size: large;
}
/* MESSAGE  */
.item-group .itemmsg {
  border-style: none;
  background-color: #a0e9fd00;
}
textarea {
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  resize: vertical;
  margin-top: 9px;
  font-size: large;
}
.item-input:hover {
  box-shadow: 0 0 2px black;
}
.item-group .itemmsg:hover {
  box-shadow: none;
}
/* button submit  */
.submit {
  margin: 0 10px;
  padding: 4px 15px;
  border-radius: 10px;
  font-weight: 600;
  border-style: none;
  box-shadow: 0 0 2px black;
  background-color: #2b3985;
  cursor: pointer;
  color: white;
}
.submit:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  background-color: #3546a3;
}
