/* MAIN IMAGE FOR EVENTS HTML */
.mainimg {
  background: url(/img/img.jpg) no-repeat center center/cover;
  display: flex;
  width: 100%;
  height: 450px;
}
/*  START OF INFO CONTENT  */
.maininfocontainer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.maininfo h3 {
  line-height: 2em;
  font-size: 19px;
}
.maininfo p {
  line-height: 1.5em;
  font-size: 17px;
}
/* EVENT LIST  */
.eventlistcontainer {
  padding: 1rem 0;
  align-content: space-between;
}
.list {
  height: 70vh;
  display: flex;
}
/* LIST EVENT NUMBER 1 */
.event1 {
  background-color: aliceblue;
}
.eventinfo1 {
  padding: 60px 19px;
}
.eventinfo1 h3{
  line-height: 3em;;
}
.eventgallery1 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 50%;
  margin: 50px 20px;
}
/* LIST EVENT NUMBER 2 */

.eventinfo1 {
  padding: 60px 19px;
}
.eventgallery2 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 55vw;
}
/* LIST EVENT NUMBER 3 */
.event3 {
  background-color: aliceblue;
}
.eventimg3 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 35vw;
  margin: 80px 20px;
}
.eventinfo3 {
  padding: 60px 19px;
}
.eventgallery3 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 40%;
}
/* LIST EVENT NUMBER 4 */

.eventimg4 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 35vw;
  margin: 80px 20px;
}
.eventinfo4 {
  padding: 60px 19px;
}
.eventgallery4 {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 40%;
}
