/* MAIN IMAGE FOR EVENTS HTML */
.mainimg {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 100%;
  height: 450px;
}
body {
  background-color: #a0e9fd9c
}

/*  START OF INFO CONTENT  */
.maininfocontainer {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.maininfo h3 {
  font-size: 21px;
}
.maininfo p {
  padding-top: 10px;
  font-size: 20px;
}
/* EVENT LIST  */
.eventlistcontainer {
  margin: auto;
  width: 80%;
  display: grid;
  gap: 50px;
}
.list {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  gap: 20px;
}
.eventgallery {
  position: relative;
}
.eventgallery img {
  width: 50vw;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 2px 9px 3px rgb(34, 34, 34);
}
.event {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event h3 {
  text-align: center;
  margin-bottom: 10px;
}
.event > p {
  font-size: 20px;
}

.btns {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
.btns button {
  cursor: pointer;
  font-size: 70px;
  border-style: none;
  background: none;
  color: rgba(255, 255, 255, 0.836);
  margin-top: auto;
}
.btns #playStop {
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  border-style: none;
  background: none;
  color: rgba(255, 255, 255, 0.836);
}
.btns #playStop:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.158);
}
.event4 {
  margin-bottom: 10px;
}
