/* MAIN IMAGE FOR EVENTS HTML */
.mainimg {
  background: url(/img/img.jpg) no-repeat center center/cover;
  width: 100%;
  height: 450px;
}
body {
  background-color: #a0e9fd9c;
}

/*  START OF INFO CONTENT  */
.maininfocontainer {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.maininfo h3 {
  font-size: 21px;
}
.maininfo p {
  padding-top: 10px;
  font-size: 20px;
}
/* EVENT LIST  */
.eventlistcontainer {
  margin: auto;
  width: 80%;
  display: grid;
  gap: 25px;
}
.list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  width: 100%;
  gap: 20px;
}
.eventgallery {
  position: relative;
}
.eventgallery img {
  width: 50vw;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 2px 9px 3px rgb(34, 34, 34);
}
.event {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event h3 {
  text-align: center;
  margin-bottom: 10px;
}
.event > p {
  font-size: 20px;
}
.event4 {
  margin-bottom: 10px;
}
/* BUTTONS  */
.btns {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 80%;
  justify-content: space-between;
  padding: 0 50px;
}
.btns button {
  cursor: pointer;
  font-size: 110px;
  border-style: none;
  background: none;
  color: rgba(250, 249, 249, 0.61);
  margin-top: auto;
}
.btns #prev:hover,
#next:hover {
  color: rgb(250, 249, 249);
  transition-duration: 0.3s;
}
.btns #prev:active,
#next:active {
  transform: scale(0.9);
  transition-duration: 0.1s;
}
.btns #playStop1,
#playStop2,
#playStop3,
#playStop4 {
  cursor: pointer;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.616);
}
.btns #playStop1:active,
#playStop2:active,
#playStop3:active,
#playStop4:active {
  transform: scale(0.9);
}
.btns #playStop1:hover,
#playStop2:hover,
#playStop3:hover,
#playStop4:hover {
  color: rgb(250, 249, 249);
}
/* DOTS  */
#indicator {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.dot {
  cursor: pointer;
  height: 100px;
  width: 180px;
  margin: 0 6px;
  border-radius: 5%;
  transition: all 0.6s ease;
  opacity: 0.5;
}
/* EVENT 1 IMAGES  */
.img01 {
  background: url(../img/events/nature/land.jpg) center center/cover;
}
.img02 {
  background: url(../img/events/nature/sea.jpg) center center/cover;
}
.img03 {
  background: url(../img/events/nature/mountain.jpg) center center/cover;
}
.img04 {
  background: url(../img/events/nature/tree.jpg) center center/cover;
}
.img05 {
  background: url(../img/events/nature/waterfall.jpg) center center/cover;
}
/* EVENT 2 IMAGES  */
.tesla1 {
  background: url(../img/events/tesla/tesla.jpg) center center/cover;
}
.tesla2 {
  background: url(../img/events/tesla/model1.jpg) center center/cover;
}
.tesla3 {
  background: url(../img/events/tesla/model2.jpg) center center/cover;
}
.tesla4 {
  background: url(../img/events/tesla/model3.jpg) center center/cover;
}
.tesla5 {
  background: url(../img/events/tesla/model4.jpg) center center/cover;
}
/* EVENT 3 IMAGES  */
.img21 {
  background: url(../img/events/sea/sea1.jpg) center center/cover;
}
.img22 {
  background: url(../img/events/sea/sea2.jpg) center center/cover;
}
.img23 {
  background: url(../img/events/sea/sea3.jpg) center center/cover;
}
.img24 {
  background: url(../img/events/sea/sea4.jpg) center center/cover;
}
.img25 {
  background: url(../img/events/sea/sea5.jpg) center center/cover;
}
/* EVENT 4 IMAGES  */
.img31 {
  background: url(../img/events/reth/reth1.jpg) center center/cover;
}
.img32 {
  background: url(../img/events/reth/reth2.jpg) center center/cover;
}
.img33 {
  background: url(../img/events/reth/reth3.jpg) center center/cover;
}
.img34 {
  background: url(../img/events/reth/reth4.jpg) center center/cover;
}
.img35 {
  background: url(../img/events/reth/reth5.jpg) center center/cover;
}
.active {
  opacity: 1;
  transform: scale(1.1);
}

.dot:hover {
  opacity: 1;
}
