* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* -----------Navigation Bar--------- */
.navbar {
  background-color: rgb(18, 44, 94);
  width: 100%;
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 0 10%;
  display: flex;
}
.logo a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
}
.navbar ul {
  display: flex;
  margin: 0 10%;
  
}
.navbar ul li {
  list-style: none;
  
}
.navbar ul li a {
  padding: 19px ;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
/* -------HOVER--------- */
.navbar ul li a:hover,
.navbar ul li a.current {
  background-color: rgb(22, 52, 109);
}
/* FOOTER */
.footercontainer {
  background-color: rgb(36, 85, 177);
  width: 100%;
  padding: 20px 5%;
  display: flex;
}
.footercontainer div {
  text-align: center;
}
.mid-side {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.mid-side a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  height: 100%;
}
.left-side h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 15px;
}
.left-side a {
  display: block;
  text-decoration: none;
  color: #f5f5f5be;
  margin-bottom: 10px;
  font-size: 13px;
}
.left-side a:hover {
  color: #f4f4f4;
}
.right-side p {
  color: #f4f4f4d5;
  padding: 25px 0;
}
