/* MAIN IMAGE FOR HISTORY HTML */
.mainimg img {
  width: 100%;
  margin-bottom: 50px;
}

/* TITLE  */
.title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* HISTORY SECTION */
.container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-style: double;
  box-shadow: 0 0 20px 5px rgb(124, 114, 114), 0 0 10px 5px rgb(18, 55, 134);
  background-color: rgba(255, 251, 216, 0.5);
}

/* CONTENT ADJUSTMPENTS  */
.content {
  display: flex;
  gap: 20px;
  padding: 0 110px;
  padding-top: 90px;
}
.content2 {
  padding: 0 110px;
  padding-top: 20px;
}
.content,
.content2 p {
  font-size: 23px;
  margin-bottom: 10px;
}

/* OLD IMAGES */
.images1-list {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
.images1-list img {
  width: 260px;
}

/* MINOANS IMAGES  */
.image2-list {
  display: grid;
  gap: 20px;
}
#minoans1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}
#minoans2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
#minoans3 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.image2-list img {
  height: 100%;
  width: 350px;
}

/* RETHYMNO IMAGES  */
.image3-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 60px;
}
.image3-list img {
  width: 19vw;
  height: 30vh;
  background-size: cover;
}

/* IMAGES STYLES  */
.container img{
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgb(131, 131, 131);
}
