/* MAIN IMAGE FOR HOME HTML */
.mainimg {
  background: url(/img/index/rethmain1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-size: 140%;
}
.container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  display: grid;
}

.title h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  margin-top: 200px;
  margin-bottom: 25px;
}

/* SWIPER TOP ACTIVITIES */
.swiper {
  width: 100%;
}
.swiper-slide {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid rgba(128, 128, 128, 0.349);
}

.swiper-slide img {
  height: 35vh;
  background-position: center;
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.swiper-slide .location {
  padding-top: 5px;
  text-align: center;
}
.swiper-slide .info {
  padding: 5px 0 25px 0;
  text-align: center;
}

/* HISTORY SPECTATE BOX */
.titlehistory {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  margin-top: 200px;
  margin-bottom: 25px;
}
.titlehistory a {
  color: red;
}
.clipcontainer {
  position: relative;
  height: 60vh;
}
.historyClip img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.historyClip img:hover {
  position: absolute;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
.historyClip #historyimg1:hover,
#historyimg2:hover,
#historyimg3:hover {
  position: absolute;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  z-index: 1;
 transition: all 2s;
}

/* HISTORY IMAGE ANIMATION 1  */
#historyimg1 {
  background: url(/img/index/historybox/minoan.jpeg) center/cover;
  clip-path: polygon(10% 0, 38% 0, 28% 100%, 0% 100%);
  width: 100%;
  height: 100%;
}

/* HISTORY IMAGE ANIMATION 2  */
#historyimg2 {
  background: url(/img/history/mainimg.jpg) no-repeat center/cover;
  clip-path: polygon(40% 0, 69% 0, 59% 100%, 30% 100%);
  width: 100%;
  height: 100%;
}

/* HISTORY IMAGE ANIMATION 3  */
#historyimg3 {
  background: url(/img/history/modern4.jpg) center/cover;
  clip-path: polygon(71% 0, 100% 0, 90% 100%, 61% 100%);
  width: 100%;
  height: 100%;
}

/* MINI BOXES GALLERY  */
.miniboxes {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(auto, 200px);
  grid-gap: 30px;
}
.miniboxes img {
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px rgb(61, 61, 61);
  cursor: pointer;
}
.miniboxes img:hover {
  transform: scale(1.01);
  transition: all 0.4s;
}
#oldtown {
  grid-row-start: 1;
  grid-row-end: 5;
}
#tzami {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#fortetza {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#arkadi {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
#Frangokastello {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
#samaria {
  grid-column-start: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
#lighthouse {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.miniboxes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* UPCOMING EVENTS */
.eventimg img {
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgb(116, 116, 116);
  transition-duration: 0.5s;
}
.eventphoto {
  width: 100%;
  height: 45vh;
}

/* 3BOXES */
.boxes3 {
  display: grid;
  height: 40vh;
  cursor: pointer;
}
.boxes3 a {
  text-decoration: none;
}
.boxes3 .box:hover {
  background-size: 110%;
}
.boxestitle {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10vh;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  background: url(/img/index/actlogo.jpg) no-repeat center center/cover;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column-start: 4;
  grid-column-end: 6;
  background: url(/img/index/natlogo.jpg) no-repeat center center/cover;
}
.box3 {
  grid-column-start: 6;
  grid-column-end: 8;
  background: url(/img/index/museumlogo.jpg) no-repeat center center/cover;
}
.box p {
  margin: 50px;
  font-size: 35px;
  color: whitesmoke;
}
