/* MAIN IMAGE FOR HOME HTML */
.mainimg {
  background: url(/img/index/rethmain.jpg) no-repeat center center/cover;
  width: 100%;
  height: 70vh;
}
body {
  background-color: #a0e9fd9c
}
/* SWIPER TOP ACTIVITIES */
.swipertitle {
  font-family: Montserrat;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
.swipercontainer {
  padding: 40px 15%;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  background-color: white;
  border-radius: 3% 3% 3% 3%;
  border: 1px solid rgba(128, 128, 128, 0.349);
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 3% 3% 0 0;
}
.swiper-slide .location {
  font-size: 20px;
  min-height: 4vh;
  text-align: center;
}
.swiper-slide .info {
  font-size: 15px;
  min-height: 5vh;
  text-align: center;
}
/* HISTORY SPECTATE BOX */
.historytitle {
  font-family: Montserrat;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
.historyspec {
  padding: 40px 15%;
}
.historyspec .historyimg {
  width: 100%;
  height: 60vh;
}

.borderinfo {
  background-color: #ffffff;
}
.historyspec #title1 {
  font-size: 20px;
  padding-left: 2px;
}
.historyspec #infohistory {
  padding-left: 2px;
}
.historyspec #readmorehistory {
  text-decoration: none;
}
/* GALLERY */
.gallerycontainer {
  padding: 40px 15%;
}
.gallerycontainer .gallerytitle {
  font-family: Montserrat;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
/* SWIPER CSS AT LINE20 */
.swiper-slide .galimg {
  height: 35vh;
  border-radius: 3% 3% 3% 3%;
}
/* UPCOMING EVENTS */
.Eventscontainer {
  padding: 40px 15%;
}
.eventtitle {
  font-family: Montserrat;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
.eventphoto {
  width: 100%;
  height: 45vh;
}
/* 3BOXES */
.boxes3 {
  display: flex;
  height: 40vh;
  cursor: pointer;
}
.boxtitle {
  height: 8vh;
}
.boxtitle h1 {
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 600;
  margin: 0 46%;
}
.box1 {
  width: 40%;
  text-decoration: none;
  background: url(/img/index/actlogo.jpg) no-repeat center center/cover;
  bottom: 1px;
}
.boxes3 :hover {
  transform: scaleY(1.02);
  transition-duration: 0.2s;
}

.box2 {
  width: 30%;
  text-decoration: none;
  background: url(/img/index/natlogo.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.box3 {
  width: 30%;
  text-decoration: none;
  background: url(/img/index/museumlogo.jpg) no-repeat center center/cover;
}
.box {
  font-size: 35px;
  color: whitesmoke;
}
.box p {
  margin: 50px;
}
.box p:hover {
  transform: none;
}
